/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    margin: 1em 2em;
}

/* Title style */
h1 {
    align-content: center;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    outline: none;
}

/* Form area */
.calculate-form {
    margin: 2em;
    margin-left: 9em;
    margin-right: 9em;
    border: 1px solid cadetblue;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

/* Text input container style */
.gender-form, .weight-form, .height-form, .age-form {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

/* Radio button style */
input[type="radio"] {
    cursor: pointer;
    width: 25px;
    align-items: center;
}

/* Icon style */
.icon {
    background: cadetblue;
    color: white;
    padding: 11px;
    min-width: 25px;
    outline: none;
    text-align: center;
}

/* Text input box */
input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 20px;
}

input:focus {
    border: 3px solid cadetblue;
}

/* Button style */
.button-form {
    text-align: center;
    margin: 2em;
    letter-spacing: 19px;
}

.button-form > button {
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px black;
    font-size: 19px;
    height: 100%;
}

/* Submit button style */
.button-form > button[type="submit"] {
    background: cadetblue;
    color: white;
    border: solid 1px;
    opacity: 0.9;
    cursor: pointer;
}

/* Change opacity when hovering submit button */
.button-form > button[type="submit"]:hover {
    opacity: 1;
}
/* End of Form Area */

/* Result Area */
.result-box {
    margin: 10px;
    margin-left: 9em;
    margin-right: 9em;
    border: 1px solid cadetblue;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result title style */
.header-box {
    font-size: 28px;
    margin: 10px;
}

/* Result value style */
.value-box {
    font-size: 50px;
    color: cadetblue;
    margin: 10px;
    letter-spacing: 3.5px;
}
/* End of Result Area */

/* Footer style */
footer {
    text-align: center;
}

footer img {
    height: 100px;
    margin: 1em;
}

.copyright {
    font-size: 0.8em;
    letter-spacing: 0.75px;
}

/* For device below 992px */
@media only screen and (max-width: 1200px) {
h1 {
    font-size: 23px;
}

.calculate-form {
    margin: 3px;
    padding: 1em;
}

.button-form > button {
    width: 100%;
    font-size: 15px;
    height: 55%;
}

.result-box {
    margin: 3px;
    flex-direction: column;
}
}
